<div class="mvc-top">
  <% if (title) { %>
    <h1><%= title %></h1>
  <% }else{ %>
    <h1>Mi portfolio</h1>
  <% } %>

    <div class="mvc-bar" id="myNavbar">
      <a href="/" class="mvc-bar-item mvc-button">HOME</a>
      <a href="/about" class="mvc-bar-item mvc-button mvc-hide-small"
        ><i class="fa fa-user"></i> ABOUT</a
      >
      <a href="#portfolio" class="mvc-bar-item mvc-button mvc-hide-small"
        ><i class="fa fa-th"></i> PORTFOLIO</a
      >
    </div>
  </div>